.mat-toolbar-multiple-rows {
  min-height: 0;
  font-size: 14px;
  font-weight: 500;
}

.header-container {
  background-color: #fff;
}

.header-top-container {
  display: flex;
  background-color: #fc3;
  border-bottom: 4px solid #ffefbf;
  height: 52px;
  padding: 4px 16px;

  app-header-top {
    width: 100%;
    margin: 0 auto;
  }
}

.header-middle-container {
  display: flex;
  border-bottom: 1px solid #ebedf8;
  height: 77px;
  padding: 4px 16px;

  app-header-middle {
    width: 100%;
    margin: 0 auto;
  }
}

.header-bottom-container {
  display: flex;
  border-bottom: 1px solid #ebedf8;
  height: 56px;

  app-header-bottom {
    width: 100%;
    margin: 0 auto;
  }
}

header {
  margin-bottom: 32px;
}

.fixed {
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 0;
  background-color: white;
  box-shadow: 0 3px 3px rgb(68 92 130 / 14%), 0 3px 4px rgb(68 92 130 / 12%), 0 1px 8px rgb(68 92 130 / 20%);
  z-index: 10000;
}

.no-fixed {
  position: static;
  transition: 0.2s linear;
  top: -48px;
}


@media (min-width: 1200px) {
  app-header-top,
  app-header-middle {
    max-width: 1140px;
  }
}
