.wrapper {
  display: flex;
  justify-content: space-between;

  app-header-middle-left-col {
    display: flex;
    align-items: center;
  }

  app-header-middle-right-col {
    display: flex;
    align-items: center;
  }

}


//
//.wrapper {
//  display: flex;
//  align-items: center;
//  max-width: 1200px;
//  height: 100%;
//}
//
//.header-middle-nav__list {
//  display: flex;
//  padding: 0;
//}
//
//.header-middle-nav__item {
//  list-style-type: none;
//}
//
//.header-middle__search {
//  background-color: #ffcc33;
//}
