<header class="header-middle-container">
  <div class="wrapper">
    <div class="header-middle__logo">
      Логотип
    </div>
    <div class="header-middle__search">
      <input type="text">
      <button>Найти</button>
    </div>
    <nav class="header-middle-nav">
      <ul class="header-middle-nav__list">
        <li class="header-middle-nav__item">Сравнение</li>
        <li class="header-middle-nav__item">Оплата</li>
        <li class="header-middle-nav__item">Избранное</li>
        <li class="header-middle-nav__item">Смета</li>
      </ul>
    </nav>
    <div class="header-middle__basket">
      Корзина
    </div>
  </div>
</header>
