.wrapper {
  max-width: 1200px;
  margin: 48px auto 0;
}

.benefit-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 48px auto 0;
  justify-content: space-between;

  .benefit-content {
    display: flex;
    max-width: 280px;
    font-size: 14px;
    font-style: normal;
  }

  .benefit-text {
    margin-left: 12px;
    line-height: 17px;
  }

}
