.container {
  margin: 0 auto;
  width: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }

  button {
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
  }

  .product {
    font: {
      family: "Comic Sans MS";
      size: 16px;
      weight: 700;
    }
    display: inline-flex;
    border: 1px solid red;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    margin-top: 20px;
  }
}
