<header class="header-top-container">
  <div class="wrapper">
    <nav class="header-top-nav">
      <ul class="header-top-nav__list">
        <li class="header-top-nav__item">Пункты самовывоза</li>
        <li class="header-top-nav__item">Доставка</li>
        <li class="header-top-nav__item">Самовывоз</li>
        <li class="header-top-nav__item">Акции</li>
        <li class="header-top-nav__item">Клуб друзей</li>
        <li class="header-top-nav__item">Услуги</li>
      </ul>
    </nav>
    <div class="header-top-location">
      Россия
    </div>
    <div class="header-top-auth">
      Войти
    </div>
  </div>
</header>
