<header class="header-bottom-container">
  <div class="wrapper">
    <div class="catalog">
      <mat-icon>list</mat-icon>
      <button>Каталог</button>
    </div>
    <nav>
      <button>Стройматериалы</button>
      <button>Инструмент</button>
      <button>Электрика</button>
      <button>Инженерные системы</button>
      <button>Интерьер и отделка</button>
      <button>Сантехника</button>
      <button>Крепеж</button>
      <button>Благоустройство</button>
    </nav>
    <div class="promo">
      <button>Новинки</button>
    </div>
  </div>
</header>
